In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credit = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies = movies.merge(credit,on="title")

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies=movies[['id','title','genres','keywords','overview','cast','crew']]

In [7]:
movies.head(1)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
movies.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [9]:
movies.dropna(inplace=True)

In [10]:
movies.drop_duplicates(inplace=True)

In [11]:
import ast
def convert_col(object):
    data = ast.literal_eval(object)
    l=[]
    for d in data:
        t=d["name"]
        l.append(t)
    return l

In [12]:
movies['genres']=movies['genres'].apply(convert_col)

In [13]:
movies['keywords']=movies['keywords'].apply(convert_col)

In [14]:
import ast
def convert_cast(object):
    data = ast.literal_eval(object)
    l=[]
    c=0
    for d in data:
        if (c!=5):
            t=d["name"]
            l.append(t)
            c+=1
        else:
            break
    return l

In [15]:
movies['cast']=movies['cast'].apply(convert_cast)

In [16]:
def convert_crew(object):
    data = ast.literal_eval(object)
    l=[]
    for d in data:
        t=d["job"]
        if(t=="Director"):
            l.append(d["name"])
            break
    return l

In [17]:
movies['crew']=movies['crew'].apply(convert_crew)

In [18]:
movies.head(1)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [19]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [20]:
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x ])
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x ])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x ])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x ])

In [21]:
movies['tags']=movies['overview']+movies['genres']+movies['cast']+movies['crew']+movies['keywords']

In [22]:
movies.drop(columns=['genres','overview','cast','crew','keywords'],inplace=True)

In [23]:
movies.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [24]:
movies['tags']=movies['tags'].apply(lambda x : " ".join(x))

In [25]:
movies['tags']=movies['tags'].apply(lambda x:x.lower())

In [26]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [27]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [28]:
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

movies['tags'] = movies['tags'].apply(lemmatize_text)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(max_features=5000, stop_words='english')
vec = tfidf.fit_transform(movies['tags']).toarray()
similar = cosine_similarity(vec)

In [31]:
def recommend(movie):
    ind = movies[movies['title']==movie].index[0]
    dist = similar[ind]
    movie_lst = sorted(list(enumerate(dist)),reverse=True,key=lambda x:x[1])[1:11]
    for i in movie_lst:
        print(movies.iloc[i[0]].title)

In [32]:
recommend('Avatar')

Aliens
Battle: Los Angeles
Falcon Rising
Apollo 18
The Book of Life
Titan A.E.
Star Trek Into Darkness
Meet Dave
Ender's Game
Jarhead

In [33]:
import pickle
with open('movies.pkl','wb') as file:
    pickle.dump(movies,file)

In [34]:
movies['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], shape=(4806,), dtype=object)

In [35]:
with open('similar.pkl','wb') as file:
    pickle.dump(similar,file)